<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<array>
				<value>classpath:config.properties</value>
			</array>
		</property>
	</bean>

	<!-- 配置拦截器 -->
	<mvc:interceptors>
		<bean class="com.wzsport.interceptor.TokenInterceptor"></bean>
	</mvc:interceptors>

	<!-- 启用注解配置 -->
	<mvc:annotation-driven>
		<!-- 解决@ReponseBody中文乱码问题 -->
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<constructor-arg value="UTF-8" />
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<!-- 配置使用注解的包 -->
	<context:component-scan base-package="com.wzsport.*" />
	<aop:config proxy-target-class="true"></aop:config>

	<mvc:resources mapping="swagger-ui.html" location="/" />
	<mvc:resources mapping="/*" location="/" />
</beans>
