<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace ="com.wzsport.mapper.TeacherMapper">
	<select id="listTeachersByJobNoAndNameAndSex" resultType="com.wzsport.model.Teacher">
		select * from teacher
		<where>
			<if test="jobNo != null">job_no like concat('%',#{jobNo},'%') </if>
			<if test="name != null">and name like concat('%',#{name},'%') </if>
			<if test="sex != null">and is_man=#{sex}</if>
		</where>
	</select>
</mapper>